@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Reem+Kufi&display=swap');

body {
    background-image: url('../media/Page-Background.png');
}

/* Specifies the card's width and centering */
.cardWide {
    display: flex;
    justify-content: center;
    background-image: url('../media/lightGrayConcreteWall.png');
    border-radius: 15px;
}

/* Title Section */
.title {
    font-size: 45px;
    font-weight: bold;
    color: #0C2633;
    background-color: #FFCD29;
    display: inline-block;
    font-family: 'Reem Kufi', sans-serif;
    margin: 2rem;
}

.shadow {
    filter: drop-shadow(0 1mm 1mm rgba(0, 0, 0, 0.50));
}

.imgFit {
    max-width: fit-content;
}