.back{
    background-image: url(../media/Page-Background.png);
}

.conB{
    background-image: url(../media/lightGrayConcreteWall.png);
}

.tc{
    text-align: center;
    
   
}

.tBc{
    background-color: #FFCD29;
    margin-right: 43%;
    margin-left: 43%;

}

.cS{
    justify-content: space-between;
}
